.features-2-parent{
    display: flex;
    justify-content: space-around;



}
.features-2-left{
    display: flex;
    flex-direction: column;
    width: 600px;
    margin: 0px 90px;
   
}

.features-2-left h1{
    font-size: 400px;

}
.features-2-left h2{
    font-size: 39px;

}
.features-2-left p{
    width: 500px;
    font-size: 18px;
}
.features-2-right{
   overflow: hidden;
   display: flex;

}
.image-fe{
    display: flex;
    flex-direction: column;
}
.image-fe div{
    display: flex;
    overflow: hidden;
}
.image-fe img{
    width: 300px;
}
.leaf-div{
    overflow: hidden;
}
.leaf-div img{
  transform: rotate(-40deg);
    margin-top: -400px;
    margin-left: -380px;
}


@media screen and (max-width:953px) {
    .features-2-parent{
        flex-direction: column;
        justify-content: center;
        margin: 0px 20px;
    }
    .features-2-left{
        width: 100%;
        justify-content: center;
        text-align: center;
        margin: 0px;
    }
    .features-2-left p{
        width: 100%;
    }
    .features-2-right{
        overflow: hidden;
        display: flex;
        justify-content: center;
     
     }
     .leaf-div{
        display: none;
     }
     
}