.features-parent{
    display: flex;
    justify-content: space-around;
    margin: 0px 20px;
    align-items: center;
}
.left-feautures h1{
    font-size: 500px;
}

.animated-div-fe img{
    position: absolute;
    width:500px;
    top: 570px;
    transform: rotate(30deg);
    opacity: 0.6;
}
.right-feautures{
    display: flex;
    flex-direction: column;
    width: 600px;
}